In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("HW2_data.csv")
df = df.sort_values(by = ['0'])
dataList = df.values.tolist()
attributeList = ["Name", "Sex", "Age", "HR", "Height", "Weight", "BP"]
dataDictionary = {"Name": [], "Sex": [], "Age": [], "HR": [], "Height": [], "Weight": [], "BP": []}

for i in range(len(dataList)):
    if i == 0:
        continue
    name = dataList[i][0]  
    attribute = dataList[i][1]
    value = dataList[i][2]
    if name in dataDictionary["Name"]:
        dataDictionary[attribute].append(value)
    else:
        lengthOfIndex = len(dataDictionary["Name"]) 
        for key in attributeList:
            if len(dataDictionary[key]) == lengthOfIndex:
                continue
            else:
                dataDictionary[key].append(None)
        dataDictionary["Name"].append(name) 
        dataDictionary[attribute].append(value)
dataFrame = pd.DataFrame.from_dict(dataDictionary, orient = "index") 
dataFrame = dataFrame.transpose()
dataFrame = dataFrame.fillna(value=np.nan)

In [27]:
dataFrame.loc['mean'] = dataFrame[["Age", "HR", "Height", "Weight", "BP"]].mean()
print(dataFrame)

           Name  Sex  Age   HR Height Weight   BP
0       Abigail    F   46   87    NaN     56  119
1         Aiden    M   38   93    166     69  136
2     Alexander    M   43   66    171     62  124
3        Amelia    F   66  NaN    151     49  119
4          Aria    F   55   81    170     59  127
5           Ava    F   70   66    165     63  NaN
6         Avery    F   66   72    159     54  121
7      Benjamin    M   39   72    164     68  122
8        Camila    F   44  NaN    166     46  134
9     Charlotte    F   65   82    NaN    NaN   92
10        Chloe    F   70   81    174     66   93
11       Daniel    M   37   80    165     72  131
12       Elijah    M   30   64    177     73  137
13    Elizabeth    F   43   84    163     56   98
14         Ella    F   10   80    168     67  137
15        Emily    F   52   84    166     46   98
16         Emma    F   35   61    159     64  137
17        Ethan    M   12   86    167     61  103
18       Evelyn    F   60   67    168     60  106
19        Grace    F   15   91    172     64  134
20       Harper    F   36   60    174     53  121
21        Henry    M   70   81    179     63  130
22     Isabella    F   31   82    151     51   94
23      Jackson    M   46   81    170     64   97
24        Jacob    M   13   89    183     76  147
25        James    M   65   67    NaN    NaN  124
26       Joseph    M   42  NaN    168     70  110
27        Layla    F   12   87    156     47  142
28         Liam    M   45   94    172     62  141
29      Lillian    F   66   64    158     59   91
30        Logan    M   62   87    177     76  NaN
31        Lucas    M   39  NaN    171     64  148
32      Madison    F   74   80    NaN    NaN  NaN
33        Mason    M   37  NaN    186     76  134
34      Matthew    M   69   85    166     70  128
35          Mia    F   60   90    171     60  127
36      Michael    M   13   79    163     65  NaN
37         Mila    F   48  NaN    164     48  139
38         Noah    M   30   77    181     68  NaN
39         Nora    F   48   82    153     59   93
40       Oliver    M   45   62    184     66  139
41       Olivia    F   51   92    152     52  100
42     Penelope    F   47  NaN    174     61  134
43        Riley    F   26   78    NaN    NaN  139
44     Scarlett    F   60   74    154     64  107
45        Sofia    F   58   79    171     59  131
46       Sophia    F   66   62    168     49  144
47     Victoria    F   62   65    NaN    NaN   96
48      William    M   38   86    174     73  119
49         Zoey    F   37   79    NaN    NaN  112
mean        NaN  NaN  NaN  NaN    NaN    NaN  NaN